*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #282c34;
}
#form-invio-dati{
     display: flex;
     justify-content: center;
     align-items: start;
     flex-direction: column;
     text-align: left;
     margin: 20px 20px;
     padding: 20px;
     border: 2px solid #61dafb;
     border-radius: 10px;
     gap: 10px;
}