*{
    
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page{
    max-width: 800px;
    padding: 20px;
}
header{
    text-align: center;
    margin-bottom: 20px;
}
#todos-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.todo-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.detail-btn{
    margin: 0 20px;
    padding: 10px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.detail-btn:hover{
    background-color: #0056b3;
}
.order-btn{
    margin-left: auto;
    display: flex;
    gap: 10px;
}
.order-btn button{
    padding: 8px 12px;
    background-color: #e01111;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}