* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #080808;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.page {
    max-width: 800px;
    padding: 20px;
}

h1 {
    color: white;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

#todos-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #383535;
    padding: 15px;
    border-radius: 5px;
    color: white;
}

.btns-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.order-btn {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.order-btn button,
#show-delete-btn {
    padding: 8px 12px;
    background-color: #e01111;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.detail-btn {
    padding: 8px 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.detail-btn:hover {
    background-color: #0056b3;
}

.todo-buttons {
    display: flex;
    gap: 8px;
    margin-left: auto;
}

/* DELETE MODE */
.delete-btn {
    display: none;
    padding: 8px 12px;
    background-color: #e01111;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.todo-card.show-delete .delete-btn {
    display: inline-block;
}

/* TODO STATE */
.todo-done {
    text-decoration: line-through;
}

.todo-pending {
    text-decoration: none;
}

.days-left-span {
    font-weight: bold;
    text-decoration: none;
    margin-left: 15px;
}

.check-done-circle {
    display: inline-block;
    border-radius: 50%;
    background-color: green;
    width: 12px;
    height: 12px;
    margin-right: 8px;
}
