*{
    box-sizing: border-box;
    /* border: 1px solid greenyellow; */
}

html, body{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #282c34;
}

.page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 800px;
    padding: 16px;
    height: 100vh;
}

.todo-card{
    margin-bottom: 4px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
  
}

/* .detail-btn{
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    font-size: x-large;
    width: 30px;
    height: 30px;
    line-height: 10px;
} */

/* .detail-btn:hover{
    background-color: black;
    color: white;
} */
.actions-container{
    display: flex;
    gap: 4px;
}
.action{
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
    font-size: large;
    padding: 8px;
    text-decoration: none;
    color: black;
}

.action:hover{
    background-color: black;
    color: white;
}

.sort-btn{
    padding: 8px;
    border-radius: 10px;
    font-size: small;
    margin-bottom: 16px;
    background-color: white;
    
}.sort-btn:hover{
    background-color: black;
    color: white;
}

.colored-dot{
    min-height: 30px;
    min-width: 30px;
    border-radius: 50%;
}

.color-and-title{
    display: flex;
    align-items: center;
    gap: 8px;
}

.actions-container{
    display: flex;
    justify-content: center;
    gap: 4px;
}